img {
    width: 100%;
    
}


.ms_ticket-container {

    width: 400px;
    margin: 6rem auto;
    min-height: 250px;
    padding: 1rem;
    border: 1px solid red;
}

#discount {
    color: red;
    font-size: 1.2;
}

#price {
    font-size: 1.4rem;
    font-weight: bold;
    
}